{% extends 'base.html' %}
{% load custom_filters %}

{% block title %} {{tarefa.descricao}} {% endblock  %}

{% block content %}
    <div class="h-100 p-5 border rounded-3 text-white" style="background-color: #252525;">
        <h1>Editar {{tarefa.descricao}}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição da Tarefa:</label>
                {{ form.tarefa|add_class:"form-control" }}
              </div>
              
              <div class="mb-3">
                <label for="{{ form.categoria.id_for_label }}" class="form-label">Categoria:</label>
                {{ form.categoria|add_class:"form-control" }}
              </div>
            <input class="btn btn-success" type="submit" value="Salvar alterações">
            <a class="btn btn-danger" href="{% url 'tarefas_pendentes_list' %}">Cancelar</a>
        </form>
    </div>
{% endblock %}